# bin directory
bin

# Eclipse specific
.settings
.project
.classpath

# Compiled
*.jar
*.class


# UML files created by other programs
/Places.xmi
/Places.uml
/Places.zargo

# backups and duplicates
*~
